.section {
  &__box {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 50%));
    gap: 4rem;
    margin: 0 auto;
    align-items: center;

    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
      width: 70vw;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    @media (max-width: 950px) {
      order: 2;
      height: auto;
    }
  }
}
