header {
  width: 97rem;
  margin: 0 auto;
  background-size: cover;
  &::after {
    content: "";
    background-color: #fff1da;
    width: 100%;
    display: block;
    clip-path: polygon(51% 0px, 100% 0%, 100% 96%, 55% 43%);
    border: 50rem;
    height: 80rem;
    position: absolute;
    z-index: -1;
    top: 0rem;
    right: 0rem;
  }
  @media (max-width: 1000px) {
    padding: 0 0.5rem;
    width: 97%;
  }
}
.header__title {
  width: 96rem;
  padding: 6rem 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  place-content: center;
  position: relative;
  gap: 4rem;
  @media (max-width: 1000px) {
    width: 97%;
    gap: 0;
  }
  &-div {
    display: grid;
    place-content: center;
    gap: 4rem;
    @media (max-width: 800px) {
      place-content: start;
    }
  }
  &-sub {
    padding-top: 3rem;
    animation: moveInBottom 0.7s ease-out;
  }
  &-btn {
    border: none;
    background-color: #f1a501;
    text-align: center;
    color: $color-white;
    border-radius: 1rem;
    padding: 1.5rem;
    font-size: 1.6rem;
    width: 17rem;
    cursor: pointer;
    &:hover {
      border-bottom: solid 2px $color-white;
    }
  }
}
