.place__box{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 12rem;
    gap: 4rem;
    transform: translateY(2rem);
    & > *:hover{
        transform: translateY(-2rem);
    }
    &-information{
        background-color: rgba(255,255,255,0.8);
        font-size: 1.5rem;
        padding: 3rem;
        text-align: center;
        border-radius: 3px;

        & > *:not(:last-child){
            padding-bottom: 1.5rem;
        }
    }
    &-svg{
        fill:$color-primary;
    }
}
